body {
    background-color: lightblue;
}

.hidden {
    display: none;
}

/* Welcome Page */

#welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://japandeluxetours.com/uploads/2017/06/20170609135305_593b0ab176b4c.jpg');
    height: 100vh;
    background-size: cover;
    margin: 0;
    padding: 0;
    color: white;
}

.animated {
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -o-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0; 
    }
  
    100% {
      opacity: 1; 
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  } 
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    } 
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
  }
  
  /* --- Animation --- */
  @-webkit-keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
    }


form {
    display: table;
    margin: auto;
}

.paired-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

#main-game {
    height: 50%;
    border: 1px solid green;
}

.row {
    text-align: center;
    padding: 3px;
}

.instructions .row {
    text-align: left;
}

img {
    width: 60px;
    padding: 2px;
}

.paired img {
    width: 33px;
}

.pairs {
    background-color: grey;
}

.test {
    height: 100vh;
    background-color: lightblue;
}

.paired {
    padding: 0px 25px 0px 25px;
    min-height: 200px;

    /* border: 1px solid black; */
}

.highlight {
    border: 3px solid yellow;
}

.narrow-width {
    max-width: 45%;
    margin: 0 auto;
}

/* Board Row */

#board {
    border: 1px solid red;
    padding: 10px 0px 10px 0px;
}

/* Paired Sets */

#computer-pairs {
    padding-right: 10px;
    border: 1px solid red;
}

#user-pairs {
    padding-left: 10px;
    border: 1px solid red;

}


.matched {
    display: inline-block;
    padding: 2px 3px 2px 3px;
    margin: 2px;
}

.month-title {
    margin-bottom: 0;
}

/* Instruction Notification */
.rule-notice {
    background-color: lightpink;
    border: 2px solid grey;
    padding: 5px;
    border-radius: 20px;
}

.maintain-height {
    vertical-align: middle;
    min-height: 150px;
}

#winner {
    height: 100vh;
}

